<div header>
	<div id=header__ID top-navigation class="w3-top" style='background: rgba(255,255,255,1);opacity: 0.8;'>
		<div class='w3-hide-large h2__ID' style='color:#000;padding:3px 0 0 20px;display: inline-block;'><b>Woolcock</b></div>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large" style='color:#000;font-size:26px' onclick="w3_open()"><i class="fa fa-bars"></i></a>
		<div id=logo__ID class="w3-hide-small w3-hide-medium" style='display:inline-block'>
			<img width=360 src='__HOST__/images/logo.jpg' style='margin-top:3px'></img>
		</div>
		<div class="w3-right w3-hide-small w3-hide-medium" style='font-family: Helvetica,Arial,sans-serif;height:92px;color:#000;padding-top:40px;padding-right:250px;'>
			<a onclick="vm_nav_click_process('home')" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
			<a onclick="vm_nav_click_process('portal')" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Flat</a>
			<a name=signinout onclick="vm_nav_click_process('signinout')" class="w3-bar-item w3-button"></a>
		</div>
	</div>
	<div id="sidebar__ID" side-navigation class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-large" style="display:none">
		<a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
		<a onclick="vm_nav_click_process('home');w3_close()" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
		<a onclick="vm_nav_click_process('portal');w3_close()" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Flat</a>
		<a name=signinout onclick="vm_nav_click_process('signinout');w3_close()" class="w3-bar-item w3-button"></a>
	</div>
	<script navigation-processing>
		//-----------------------------------------
		setTimeout(function (){
			var header_height=$('#header__ID').outerHeight();
			$('#sidebar__ID').css({'margin-top':0+'px'});
		},1000);
		//------------------------------------
		var mySidebar = document.getElementById("sidebar__ID");
		function w3_open() {
			if (mySidebar.style.display === 'block') mySidebar.style.display = 'none';
			else 									 mySidebar.style.display = 'block';
		}
		function w3_close() {
			mySidebar.style.display = "none";
		}
		//-----------------------------------------
		var vm_nav_click_process=function(name){
			switch(name){
				case 'signinout':
					if($vm.user=='guest'){
						window.open($VmAPI.api_base+"signin.html?url="+window.location.href,"Sign In","width=600, height=600");
					}
					else{
						$VmAPI.clear_token();
						$VmAPI.request({data:{cmd:'signout'},callback:function(c){
							$vm.user="guest";
							$vm.user_id="";
							location.reload(true);
						}});
					}
					break;
				default:
					if(name=='dev'){
						$vm.alert('Under development');
					}
					else load_module(name);
					break;
			}
		}
		//-----------------------------------------
		var check_trust=function(url){
			var trust=0;
			if(url.indexOf('http://127.0.0.1')!=-1 || url.indexOf('http://localhost')!=-1){
				trust=1;
			}
			else{
				for(var i=0;i<$vm.trust_path.length;i++){
					var len=$vm.trust_path[i].length;
					if(url.indexOf($vm.trust_path[i])!==-1 && url.substring(0,len)==$vm.trust_path[i]){
						trust=1;
					}
				}
			}
			if(trust==0){
				alert("The url ("+url+") is not trusted.")
			}
			return trust;
		}
		//-----------------------------------------
		var load_module=function(name){
			if($vm.app_config.modules[name]!=undefined && $vm.app_config.modules[name].url!=undefined){
				if($vm.module_list[name]==undefined){
					$vm.module_list[name]=$vm.app_config.modules[name];
				}
			}
			var url=$vm.module_list[name].url;
			if(url.split('.').pop().split('?')[0]=='json'){
				load_panel(name)
				return;
			}
			if(url[0]=='/'){
				if($vm.hosting_path!=undefined) url=$vm.hosting_path+url;
			}
			var single_record=$vm.module_list[name].single_record;
			if(check_trust(url)==0) return;
			var op={
				//-----------------
				sys:{
					config:$vm.app_config,
					UID:name,
				},
				//-----------------
			}
			var slot=$vm.root_layout_content_slot;
			if(single_record=='1') slot=undefined;
			$vm.load_module_by_name(name,slot,op)
		};
		//---------------------------------------------
		var load_panel=function(name){
			var url=$vm.module_list[name].url;
			if(url[0]=='/'){
				if($vm.hosting_path!=undefined) url=$vm.hosting_path+url;
			}
			if(check_trust(url)==0) return;
			console.log('loading '+url);
			$.get(url,function(text){
				var text=$('<div/>').html(text).text();
				//---------------------------
				var config;
				try{ config=JSON.parse(text); }
				catch (e){ alert("Error in config file\n"+e); return; }
				//-----------------------------------------------
				var module=name+"_panel";
				if($vm.module_list[module]==undefined){
					$vm.module_list[module]={
						url:config.url,
						var:{},
					}
				}
				$vm.load_module_by_name(module,$vm.root_layout_content_slot,{
					sys:{
						config:config,
						UID:name,
					}
				})
				//-----------------------------------------------
			},'text').fail(function() {
				alert( "The file '"+url+"' doesn't exist!" );
			});
		}
		//---------------------------------------------
		var show_sign=function(){
			if($vm.user=='guest'){
				$('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
				$('#username__ID').text('');
			}
			else{
				$('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
				$('#username__ID').text('Signed in as '+ $vm.user);
			}
		}
		show_sign();
		//---------------------------------------------
	</script>
	<style>
		#header__ID{
			background: rgba(0,0,0,0.3);
		}
		#logo__ID{
			padding-left:90px;
		}
		#logo_label__ID{
			color:#fff;
			padding-left:10px;
			float:left;
		}
		.h2__ID{
			font: 180% Arial;
			display: inline-block;
			margin: 10px 0 5px 10px;
		}
		.h3__ID{
			font: 90% Arial;
			display: inline-block;
			margin: 0 0 0 10px;
		}
	</style>
</div>
